language: python

python:
  - "3.7"

os: linux
sudo: required
dist: bionic

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y gnat zlib1g-dev

before_script:
  - pip install git+https://github.com/benreynwar/slvcodec@2cb6ef81130d60b387ec0ac6cde78eb419893ff9#egg=slvcodec-0.0.0
  - pip install git+https://github.com/cocotb/cocotb@0965b5a53a0d7e2ed4440af902f2d62b1525e14f#egg=cocotb-0.0.0
  - pip install fusesoc pytest vunit-hdl
  - pip install --process-dependency-links -e .
  - git clone --depth 1 https://github.com/ghdl/ghdl.git ghdl
  - cd ghdl
  - mkdir build
  - cd build
  - ../configure --prefix=../../install-ghdl/
  - make
  - make install
  - cd ../../
  - export PATH=$PATH:`pwd`/install-ghdl/bin/
  - pip install cocotb
                                                                          

script:
  - pytest tests
  - cd tests; make